:root {
    ---yellow:#ffa627;
    ---red:#b10001;
    ---white:#ffffff;
    ---black:#222222;
    ---light-red:#d8252b;
    --lightgrey:#eeeeee;
    --product-color:#6b0000;
    --h1-font: Arial, Helvetica, sans-serif;
}
/*=====UTILITIES=====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url('/assets/img/back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    width: 100%;
    height: auto;
}

.container  {
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
}

.grid {
    display: grid;
    align-items: center;
}

h1 {
    font-family: var(--h1-font);
    font-size: 2rem;
    color: var(---white);
}

p {
    font-family: sans-serif;
    font-size: 1rem;
}

.btn {
    background-color: var(---red);
    color: var(---white);
    padding: 10px 12px;
    font-family: var(--h1-font);
    border-radius: 3px;
}

.btn:hover {
    background-color: var(---light-red);
}

.flex {
    display: flex;
    align-items: center;
}

/*===== SCROLL BAR=====*/

::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(---light-red);
    border-radius: .5rem;
}
  


/*=====NAV=====*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(---white);
    font-family: var(--h1-font);
    font-weight: bold;
    font-size: 1.5rem;
}

.nav_list {
    display: flex;
}

.nav_link {
    padding: 10px 20px;
    color: var(---white);
    font-family: sans-serif;
}

.nav_link:hover {
    color: var(---yellow);
}

.sign_up {
    background-color: var(---yellow);
    border: 0;
    outline: 0;
    color: var(---white);
    padding: 10px 16px;
    font-family: var(--h1-font);
    border-radius: 3px;
    cursor: pointer;
}

.sign_up:hover {
    background: transparent;
    border: 1px solid var(---yellow);
}

/*=====HERO====*/
.hero_details {
    padding-top: 10rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    position: relative;
}

.hero_details img {
    width: 500px;
    position: absolute;
    top: 0;
    left: 50%;
}

.hero_title {
    margin-bottom: 1rem;
}

.hero_sub {
    color: var(---white);
    line-height: 1.5;
    margin-bottom: 1.8rem;
}

/*=====MENU====*/
.menu {
    margin-top: 5rem;
}

.menu_title {
    text-align: center;
    margin-bottom: 2rem;
}

.menu_inner {
   grid-template-columns: repeat(2, 1fr);
   margin-left: 5rem;
   margin-bottom: 1rem;
   background-color: var(--product-color);
   padding: 1.5rem;
   /* box-shadow: 0px 0.8px 0px  #ffa5275e; */
   box-shadow: 0px 0px 1px var(---yellow);
}



.menu_inner_title {
    color: var(---white);
    font-family: var(--h1-font);
    font-size: 1.5rem;
}

.menu_inner_sub {
    color: var(---white);
}

/*=====CATEGORIES=====*/
.categories {
    margin-top: 3rem;
}

.categoroes_title {
    text-align: center;
    margin-bottom: 2rem;
}

.categories_details {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.categorie_inner {
    position: relative;
}

.categorie_inner:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}

.cat_img {
    border: 10px solid var(--lightgrey);
    border-radius: 5px;
    width: 500px;
}

.categorie_sub {
    color: var(---white);
    font-size: 1.5rem;
    font-family: var(--h1-font);
    font-weight: bold;
    position: absolute;
    top: 50%;
    margin-left: 2rem;
}

/*=====PRODUCT=====*/

.product {
    margin-top: 5rem;
}

.product_title {
    text-align: center;
    margin-bottom: 1rem;
}

.product_details {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.product_wrapper img {
    width: 150px;
    margin-bottom: 2rem;
}

.img {
    text-align: center;
}

.product_wrapper {
    background-color: var(--product-color);
    border: 1px solid var(--lightgrey);
    padding: 1rem 0.5rem;
    width: 250px;
}

.product_inner h3 {
    color: var(---white);
    font-family: var(--h1-font);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.product_price {
    color: var(---white);
    font-family: sans-serif;
}

/*=====ABOUT=====*/
.about {
    margin-top: 5rem;
}

.about_details {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
}

.about_img {
    position: absolute;
    width: 550px;
    top: -3rem;
}

.about_content {
    margin-top: 5rem;
}

.about_tile {
    margin-bottom: 2rem;
}

.about_sub {
    color: var(---white);
    margin-bottom: 2rem;
    line-height: 2;
    text-transform: uppercase;
}

/*=====SERVICE=====*/
.service {
    margin-top: 10rem;
}

.service_details {
    background-color: var(---white);
    width: 500px;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 50px var(---light-red)
}

.service_title {
    font-family: var(--h1-font);
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.time {
    justify-content: space-around;
    margin-top: 0.8rem;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: var(---yellow);
    border-radius: 50%;
}

.avail, .hour {
    color: var(---red);
    font-family: var(--h1-font);
}

span {
    color: var(---yellow);
}

/*=====FOOTER=====*/
.footer {
    margin-top: 5rem;
}

.footer_content {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.newsletter h3 {
    color: var(---white);
    font-family: var(--h1-font);
    margin-bottom: 1rem;
}

.newsletter input {
    width: 100%;
    padding: 10px 12px;
    outline: none;
    border: none;
    border-radius: 3px;
}

.copyright {
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(---white);
}